@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#fd8d58, #dc611e);
}
.wrapper{
  background: #f6f6f6;
  padding: 30px 40px;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper .section{
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.section .emojis{
  height: 500%;
  display: flex;
  flex-direction: column;
}
.wrapper .section .emojis li{
  list-style: none;
  height: 20%;
  width: 100%;
  transition: all 0.3s ease;
}
.wrapper .section .emojis li img{
  width: 100%;
  height: 100%;
}
.wrapper .slider{
  height: 12px;
  width: 100%;
  margin-top: 40px;
  position: relative;
  background: #d9d9d9;
  border-radius: 50px;
}
.slider .thumb{
  position: absolute;
  height: 25px;
  width: 25px;
  background: #dc611e;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 2px;
  pointer-events: none;
  cursor: pointer;
}
.slider .thumb span{
  height: 100%;
  width: 100%;
  background: linear-gradient(#fd8d58, #dc611e);
  border: 2px solid #f6f6f6;
  display: block;
  border-radius: 50%;
}
.slider .progress-bar{
  background: linear-gradient(45deg, #fd8d58, #dc611e);
  height: 100%;
  width: 50%;
  border-radius: 50px;
}
.wrapper .slider input{
  position: absolute;
  width: calc(100% + 25px);
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  -webkit-appearance: none;
  background: none;
}
.wrapper .slider input::-webkit-slider-thumb{
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  cursor: pointer;
}
